@use '../mixin-1' as mixin1;
@use '../mixin-2' as mixin2;
@use '../breakpoints' as breakpoints;

@mixin exclusive-offer-all-features($main-color-sec: #b18b5e, $secondary-color-sec: transparent, $color-text: #161616, $title-text: #fff,) {
    .exclusive-offer-sec {
        padding-top: 80px;
        padding-bottom: 0px;

        .img-sec {
            @include mixin2.bg-img-adjustment();
        }

        &__item {
            padding: 0 15px;
            margin-top: 30px;

            .main-info-box {
                padding: 30px;
        
                .info-box {
        
                    &__title {
                        line-height: 1.3;
                        @include mixin2.typography-style($color: $color-text, $font-size: 26px, $font-weight: 600, $margin-bottom: 20px);
                    }

                    &__text {
                        line-height: 26px;
                        @include mixin2.typography-style($color: #555555, $font-size: 16px, $font-weight: normal, $margin-bottom: 30px);
                    }
        
                    &__btn-content {
                        .btn-banner {
                            align-items: center;
                            transition: all .5s ease-in-out;
                            @include mixin1.g-button-static($font-size: 16px, $font-weight: 500, $color: #555555, $height: 60px, $padding: 0px 40px, $background-color: transparent, $border: solid 1px #000,);
        
                            &:hover {
                                color: $title-text;
                                background-color: $main-color-sec;
                                border-color: $main-color-sec;
                            }
                        }
                    }
                }
            }
        }

        @include breakpoints.respond(lg) {
            padding-top: 100px;
        }

        @include breakpoints.respond(2xlg) {
            padding-top: 120px;
        }
    }
}