@use '../../mixin-1' as mixin1;

@mixin login-all-features($main-color-sec: #b18b5e, $secondary-color-sec: transparent, $color-text: #fff) {
    .auth-login {
        .form-container, .main-info-box {
            padding: 30px;
            background-color: #f5f1e6;
            line-height: 1;
        }
        
        &__form {
            .form-container {
                &__text {
                    color: #555555;
                }

                .form-field-btn {
                    margin-top: 20px;

                    .form-btn {
                        @include mixin1.g-button-static($color: $color-text, $background-color: $main-color-sec);
    
                        &:hover {
                            @include mixin1.g-button-static($color: $main-color-sec, $background-color: $secondary-color-sec);
                        }
                    }
                }
            }
        }

        &__text-box {
            .main-info-box {
                .info-box {
                    &__calling {
                        display: block;
                        padding: 10px 0;
                        margin-top: 21px;
                        color: #555555;
                    }

                    &__title {
                        color: rgba(0, 0, 0, 0.87);
                        text-transform: capitalize;
                        @include mixin1.header-top-notice($margin-bottom: 21px, $font-weight: 600, $font-size: 22px, );
                    }

                    &__text {
                        @include mixin1.g-text-static($max-width: auto, $margin-bottom: 21px, $font-size: 16px, $line-height: 1.7, $color: #555555);
                    }

                    &__btn-content {
                        .btn-banner {
                            @include mixin1.g-button-static($color: $color-text, $background-color: $main-color-sec);

                            &:hover {
                                @include mixin1.g-button-static($color: $main-color-sec, $background-color: $secondary-color-sec);
                            }
                        }
                    }
                }
            }
        }
    }
}