@use '_breakpoints' as breakpoints;

.enter-side-nav {
    position: fixed;
    width: 300px;

    .drawer-content {
        padding: 30px;
        max-height: 100%;
        scrollbar-width: none;
    
        .top-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    ::ng-deep .mat-drawer-inner-container {
        scrollbar-width: none; /* Firefox */
        -ms-overflw-style: none; /* IE/Edge */
    }
    
    ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }

    @include breakpoints.respond(2sm) {
        width: auto;
    }
}

.wrapp-content {
    overflow-x: hidden;
}
