<mat-drawer-container>
  <mat-drawer class="enter-side-nav" #drawer mode="over" position="end">
    <div class="drawer-content">
      <div class="flex justify-between pb-[20px] mb-[40px] drawer-content__top-wrapper">
        <div class="title">
          <a href="#">
            <img src="assets/logo/side-nav-logo/logo-light.svg" alt="logo-light">
          </a>
        </div>
        <div class="close-content">
          <button class="close-content__mini-btn" (click)="closeSidenav()" mat-mini-fab>
            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
          </button>
        </div>
      </div>
      <div class="drawer-content__search-area">
        <form action="" class="enter-side-nav__form">
          <mat-form-field class="form-label-content">
            <mat-label>Enter your search!</mat-label>
            <input matInput type="search" name="" id="">
            <mat-icon aria-hidden="false" aria-label="Search Icon" fontIcon="search" matSuffix></mat-icon>
          </mat-form-field>
        </form>
      </div>
      <div class="drawer-content__mean-nav min-[992px]:hidden">
        <app-list-items [MENU_ITEMS]="WRAPP_MENU_ELEMENTS"></app-list-items>
      </div>
      <div class="mt-[30px] mb-[20px] drawer-content__contact-info">
        <h4 class="mb-[20px] text-[22px]">Contact Info</h4>
        <mat-list class="contact-list" role="list">
          <mat-list-item class="contact-list__item">
            <mat-icon matListItemIcon aria-hidden="false" aria-label="Room" fontIcon="room" class="icon"></mat-icon>
            <div matListItemTitle class="title">12/A, Mirnada City Tower, NYC</div>
          </mat-list-item>
          <mat-list-item class="contact-list__item">
            <mat-icon matListItemIcon aria-hidden="false" aria-label="Phone" fontIcon="phone" class="icon"></mat-icon>
            <div matListItemTitle class="title">+0888889797697</div>
          </mat-list-item>
          <mat-list-item class="contact-list__item">
            <mat-icon matListItemIcon aria-hidden="false" aria-label="Mail Outline" fontIcon="mail_outline" class="icon"></mat-icon>
            <div matListItemTitle class="title">supportgmail</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="mb-[30px] drawer-content__social-media">
        <app-social-media-section [MAIN_STYLE]="'social-sec-list-side-nav'"></app-social-media-section>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="wrapp-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>